# Song Recommendation Challenge


## Goal


Company XYZ is a very early stage startup. They allow people to stream music from their mobile for free. Right now, they still only have songs from the Beatles in their music collection, but they are planning to expand soon.

They still have all their data in json files and they are interested in getting some basic info about their users as well as building a very preliminary song recommendation model in order to increase user engagement.


## Challenge Description

You are the fifth employee at company XYZ. The good news is that if the company becomes big, you will become very rich with the stocks. The bad news is that at such an early stage the data is usually very messy. All their data is stored in json format.

The company CEO asked you for very specific questions:

- What are the top 3 and the bottom 3 states in terms number of users?


- What are the top 3 and the bottom 3 states in terms of user engagement? You can choose how to mathematically define user engagement. What the CEO cares about here is in which states users are using the product a lot/very little.


- The CEO wants to send a gift to the first user who signed-up for each state. That is, the first user who signed-up from California, from Oregon, etc. Can you give him a list of those users?


- Build a function that takes as an input any of the songs in the data and returns the most likely song to be listened next. That is, if, for instance, a user is currently listening to “Eight Days A Week“, which song has the highest probability of being played right after it by the same user? This is going to be V1 of a song recommendation model.


- How would you set up a test to check whether your model works well?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ls

08_Song_Recommendation_Challenge.ipynb  song.json

In [3]:
df = pd.read_json('song.json')
df.head()

,id,song_played,time_played,user_id,user_sign_up_date,user_state
0,GOQMMKSQQH,Hey Jude,2015-06-11 21:51:35,122,2015-05-16,Louisiana
1,HWKKBQKNWI,We Can Work It Out,2015-06-06 16:49:19,3,2015-05-01,Ohio
2,DKQSXVNJDH,Back In the U.S.S.R.,2015-06-14 02:11:29,35,2015-05-04,New Jersey
3,HLHRIDQTUW,P.s. I Love You,2015-06-08 12:26:10,126,2015-05-16,Illinois
4,SUKJCSBCYW,Sgt. Pepper's Lonely Hearts Club Band,2015-06-28 14:57:00,6,2015-05-01,New Jersey

In [4]:
df.shape

(4000, 6)

In [5]:
# no invalid data

df.isnull().sum()

id                   0
song_played          0
time_played          0
user_id              0
user_sign_up_date    0
user_state           0
dtype: int64

In [6]:
df.dtypes

id                   object
song_played          object
time_played          object
user_id               int64
user_sign_up_date    object
user_state           object
dtype: object

## Question 1

What are the top 3 and the bottom 3 states in terms number of users?

In [7]:
df_userid = df[['user_state','user_id']].drop_duplicates()
df_userid = df_userid.groupby('user_state').count().sort_values('user_id',ascending = False).reset_index()
df_userid

        user_state  user_id
0         New York       23
1       California       21
2            Texas       15
3     Pennsylvania        9
4             Ohio        9
5         Illinois        7
6          Florida        7
7   North Carolina        6
8       New Jersey        6
9    Massachusetts        6
10         Georgia        6
11        Michigan        5
12       Tennessee        5
13        Missouri        5
14       Louisiana        5
15        Maryland        5
16       Wisconsin        5
17       Minnesota        4
18         Alabama        4
19         Indiana        4
20        Kentucky        3
21   West Virginia        3
22  South Carolina        3
23        Colorado        3
24          Oregon        3
25     Mississippi        3
26        Oklahoma        2
27          Alaska        2
28        Arkansas        2
29            Utah        2
30        Virginia        2
31      Washington        2
32      New Mexico        1
33           Idaho        1
34    North Dakota        1
35     Connecticut        1
36            Iowa        1
37    Rhode Island        1
38        Nebraska        1
39         Arizona        1
40          Kansas        1

In [8]:
df_userid.head(3)

   user_state  user_id
0    New York       23
1  California       21
2       Texas       15

In [9]:
df_userid.tail(10)

      user_state  user_id
31    Washington        2
32    New Mexico        1
33         Idaho        1
34  North Dakota        1
35   Connecticut        1
36          Iowa        1
37  Rhode Island        1
38      Nebraska        1
39       Arizona        1
40        Kansas        1

So the top 3 are New York, California and Texas, bottom 3 are many.

## Question 2

What are the top 3 and the bottom 3 states in terms of user engagement? You can choose how to mathematically define user engagement. What the CEO cares about here is in which states users are using the product a lot/very little.

In [10]:
df_engage = df_userid.sort_values(by='user_state').reset_index(drop=True)
df_engage

        user_state  user_id
0          Alabama        4
1           Alaska        2
2          Arizona        1
3         Arkansas        2
4       California       21
5         Colorado        3
6      Connecticut        1
7          Florida        7
8          Georgia        6
9            Idaho        1
10        Illinois        7
11         Indiana        4
12            Iowa        1
13          Kansas        1
14        Kentucky        3
15       Louisiana        5
16        Maryland        5
17   Massachusetts        6
18        Michigan        5
19       Minnesota        4
20     Mississippi        3
21        Missouri        5
22        Nebraska        1
23      New Jersey        6
24      New Mexico        1
25        New York       23
26  North Carolina        6
27    North Dakota        1
28            Ohio        9
29        Oklahoma        2
30          Oregon        3
31    Pennsylvania        9
32    Rhode Island        1
33  South Carolina        3
34       Tennessee        5
35           Texas       15
36            Utah        2
37        Virginia        2
38      Washington        2
39   West Virginia        3
40       Wisconsin        5

In [11]:
df_engage2 = df.groupby(['user_state'])['time_played'].count().reset_index()
df_engage = pd.merge(df_engage, df_engage2, how ='left', on = 'user_state')
df_engage

        user_state  user_id  time_played
0          Alabama        4          104
1           Alaska        2           58
2          Arizona        1           22
3         Arkansas        2           34
4       California       21          425
5         Colorado        3           54
6      Connecticut        1           16
7          Florida        7          180
8          Georgia        6          135
9            Idaho        1           26
10        Illinois        7          149
11         Indiana        4           55
12            Iowa        1           23
13          Kansas        1            8
14        Kentucky        3           78
15       Louisiana        5          105
16        Maryland        5          112
17   Massachusetts        6           91
18        Michigan        5           80
19       Minnesota        4           42
20     Mississippi        3           85
21        Missouri        5          127
22        Nebraska        1           36
23      New Jersey        6          117
24      New Mexico        1           17
25        New York       23          469
26  North Carolina        6          154
27    North Dakota        1           26
28            Ohio        9          209
29        Oklahoma        2           49
30          Oregon        3           62
31    Pennsylvania        9          179
32    Rhode Island        1           27
33  South Carolina        3           85
34       Tennessee        5          102
35           Texas       15          230
36            Utah        2           38
37        Virginia        2           17
38      Washington        2           41
39   West Virginia        3           38
40       Wisconsin        5           95

In [12]:
df_engage['engagement'] = df_engage.time_played/df_engage.user_id
df_engage = df_engage.sort_values('engagement',ascending = False).reset_index(drop=True)

In [13]:
df_engage.head(3)

    user_state  user_id  time_played  engagement
0     Nebraska        1           36   36.000000
1       Alaska        2           58   29.000000
2  Mississippi        3           85   28.333333

In [14]:
df_engage.tail(3)

   user_state  user_id  time_played  engagement
38  Minnesota        4           42        10.5
39   Virginia        2           17         8.5
40     Kansas        1            8         8.0

In [15]:
states = list(df_engage.user_state.unique())
states

['Nebraska',
 'Alaska',
 'Mississippi',
 'South Carolina',
 'Rhode Island',
 'Idaho',
 'North Dakota',
 'Kentucky',
 'Alabama',
 'Florida',
 'North Carolina',
 'Missouri',
 'Oklahoma',
 'Ohio',
 'Iowa',
 'Georgia',
 'Maryland',
 'Arizona',
 'Illinois',
 'Louisiana',
 'Oregon',
 'Washington',
 'Tennessee',
 'New York',
 'California',
 'Pennsylvania',
 'New Jersey',
 'Wisconsin',
 'Utah',
 'Colorado',
 'New Mexico',
 'Arkansas',
 'Michigan',
 'Connecticut',
 'Texas',
 'Massachusetts',
 'Indiana',
 'West Virginia',
 'Minnesota',
 'Virginia',
 'Kansas']

## Question 3

The CEO wants to send a gift to the first user who signed-up for each state. That is, the first user who signed-up from California, from Oregon, etc. Can you give him a list of those users?

In [16]:
df_signup = df[['user_id','user_sign_up_date','user_state']].drop_duplicates()
df_signup

      user_id user_sign_up_date     user_state
0         122        2015-05-16      Louisiana
1           3        2015-05-01           Ohio
2          35        2015-05-04     New Jersey
3         126        2015-05-16       Illinois
4           6        2015-05-01     New Jersey
5         147        2015-05-18          Texas
6         155        2015-05-19          Texas
7         171        2015-05-19       Illinois
8         174        2015-05-19   Rhode Island
9         170        2015-05-19         Oregon
10        110        2015-05-14     California
11        185        2015-05-20       New York
12        137        2015-05-17      Wisconsin
13        121        2015-05-16     California
14         77        2015-05-08       New York
15         79        2015-05-09      Tennessee
16         58        2015-05-07       Maryland
17        130        2015-05-16       Michigan
18         11        2015-05-02   Pennsylvania
19         99        2015-05-12       Illinois
20        150        2015-05-18         Oregon
21        114        2015-05-14   Pennsylvania
22         97        2015-05-12     California
23        159        2015-05-19     California
24         85        2015-05-09       Missouri
25         31        2015-05-04       Michigan
26         18        2015-05-02       Maryland
27        188        2015-05-20       New York
28        138        2015-05-17        Alabama
29        182        2015-05-20       Oklahoma
...       ...               ...            ...
546        82        2015-05-09        Florida
552        71        2015-05-08       New York
561       157        2015-05-19       Michigan
601       186        2015-05-20      Tennessee
639       118        2015-05-16        Florida
649       101        2015-05-12      Louisiana
668       104        2015-05-12          Texas
676        66        2015-05-08           Ohio
724        74        2015-05-08       Maryland
727       109        2015-05-14       Kentucky
773       197        2015-05-20          Texas
798       177        2015-05-19         Kansas
806       128        2015-05-16     California
855        36        2015-05-04       Maryland
950       149        2015-05-18       New York
1006      154        2015-05-18  West Virginia
1017       48        2015-05-06       Illinois
1112      129        2015-05-16  Massachusetts
1159      142        2015-05-17       Virginia
1261      191        2015-05-20  Massachusetts
1481       59        2015-05-07       Michigan
1507      133        2015-05-16      Wisconsin
1647        8        2015-05-02      Minnesota
1727      187        2015-05-20           Ohio
1863       93        2015-05-10          Texas
2080       61        2015-05-07     California
2134      103        2015-05-12     California
2398       50        2015-05-06      Louisiana
3096       63        2015-05-07     New Jersey
3294       21        2015-05-02      Minnesota

[196 rows x 3 columns]

In [17]:
df_signup.user_sign_up_date = pd.to_datetime(df_signup.user_sign_up_date)

In [18]:
df_signup.dtypes

user_id                       int64
user_sign_up_date    datetime64[ns]
user_state                   object
dtype: object

In [19]:
df_signup2 = df_signup.groupby('user_state').min().reset_index()
df_signup2

        user_state  user_id user_sign_up_date
0          Alabama        5        2015-05-01
1           Alaska      106        2015-05-12
2          Arizona      105        2015-05-12
3         Arkansas       78        2015-05-08
4       California       39        2015-05-04
5         Colorado      166        2015-05-19
6      Connecticut      127        2015-05-16
7          Florida       41        2015-05-04
8          Georgia       16        2015-05-02
9            Idaho      165        2015-05-19
10        Illinois       45        2015-05-05
11         Indiana      102        2015-05-12
12            Iowa      178        2015-05-19
13          Kansas      177        2015-05-19
14        Kentucky       34        2015-05-04
15       Louisiana       50        2015-05-06
16        Maryland       18        2015-05-02
17   Massachusetts       15        2015-05-02
18        Michigan       13        2015-05-02
19       Minnesota        8        2015-05-02
20     Mississippi       23        2015-05-02
21        Missouri       85        2015-05-09
22        Nebraska      134        2015-05-16
23      New Jersey        6        2015-05-01
24      New Mexico        4        2015-05-01
25        New York       10        2015-05-02
26  North Carolina        2        2015-05-01
27    North Dakota      135        2015-05-17
28            Ohio        3        2015-05-01
29        Oklahoma      119        2015-05-16
30          Oregon        1        2015-05-01
31    Pennsylvania       11        2015-05-02
32    Rhode Island      174        2015-05-19
33  South Carolina       64        2015-05-08
34       Tennessee       70        2015-05-08
35           Texas        7        2015-05-01
36            Utah       29        2015-05-03
37        Virginia      142        2015-05-17
38      Washington      125        2015-05-16
39   West Virginia       60        2015-05-07
40       Wisconsin       32        2015-05-04

This is good, but not able to find all earliest users, but just find one of them. Now I need to find all of the earliest users.

In [20]:
#early_users = []
#states = []
#times = []

df_earlyusers = pd.DataFrame(columns = ['user_state','user_sign_up_date','user_id'])

for state in states:
    time = df_signup[(df_signup.user_state == state)].user_sign_up_date.min()
    #df2 = pd.concat([df2,df_signup[(df_signup.user_state == state) & (df_signup.user_sign_up_date == time)]])
    df_earlyusers = df_earlyusers.append(df_signup[(df_signup.user_state == state) 
                                                   & (df_signup.user_sign_up_date == time)])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [21]:
df_earlyusers.reset_index()

    index user_id user_sign_up_date      user_state
0     362     134        2015-05-16        Nebraska
1     112     106        2015-05-12          Alaska
2      56      23        2015-05-02     Mississippi
3     430      26        2015-05-02     Mississippi
4     132      64        2015-05-08  South Carolina
5       8     174        2015-05-19    Rhode Island
6      33     165        2015-05-19           Idaho
7     242     135        2015-05-17    North Dakota
8      37      34        2015-05-04        Kentucky
9     100       5        2015-05-01         Alabama
10     57      41        2015-05-04         Florida
11    418      43        2015-05-04         Florida
12    199       2        2015-05-01  North Carolina
13     24      85        2015-05-09        Missouri
14    209     119        2015-05-16        Oklahoma
15      1       3        2015-05-01            Ohio
16    164     178        2015-05-19            Iowa
17    146      20        2015-05-02         Georgia
18    259      16        2015-05-02         Georgia
19     26      18        2015-05-02        Maryland
20    368     105        2015-05-12         Arizona
21     72      45        2015-05-05        Illinois
22   2398      50        2015-05-06       Louisiana
23    353       1        2015-05-01          Oregon
24     92     125        2015-05-16      Washington
25     64      70        2015-05-08       Tennessee
26     52      19        2015-05-02        New York
27     60      22        2015-05-02        New York
28    196      27        2015-05-02        New York
29    228      12        2015-05-02        New York
30    266      10        2015-05-02        New York
31    397      39        2015-05-04      California
32    466      44        2015-05-04      California
33     18      11        2015-05-02    Pennsylvania
34      4       6        2015-05-01      New Jersey
35     46      32        2015-05-04       Wisconsin
36    342      29        2015-05-03            Utah
37    118     173        2015-05-19        Colorado
38    300     166        2015-05-19        Colorado
39    283       4        2015-05-01      New Mexico
40    257      78        2015-05-08        Arkansas
41     90      13        2015-05-02        Michigan
42     43     127        2015-05-16     Connecticut
43    192       7        2015-05-01           Texas
44     91      15        2015-05-02   Massachusetts
45    175     102        2015-05-12         Indiana
46     61      60        2015-05-07   West Virginia
47   1647       8        2015-05-02       Minnesota
48   3294      21        2015-05-02       Minnesota
49   1159     142        2015-05-17        Virginia
50    798     177        2015-05-19          Kansas

## Question 4

Build a function that takes as an input any of the songs in the data and returns the most likely song to be listened next. That is, if, for instance, a user is currently listening to “Eight Days A Week“, which song has the highest probability of being played right after it by the same user? This is going to be V1 of a song recommendation model.

In [22]:
# This is the table we need for song recommendation. 

df_songs = df.sort_values(['user_id','time_played']).reset_index(drop=True)
df_songs

,id,song_played,time_played,user_id,user_sign_up_date,user_state
0,IVJSWTXIDO,Yesterday,2015-06-05 14:30:22,1,2015-05-01,Oregon
1,FUIFDVMJMQ,While My Guitar Gently Weeps,2015-06-07 18:54:56,1,2015-05-01,Oregon
2,ICVFRNKBJT,The Long And Winding Road,2015-06-08 22:37:41,1,2015-05-01,Oregon
3,IHVXAYDOYU,Reprise / Day in the Life,2015-06-10 18:00:05,1,2015-05-01,Oregon
4,ECUPTRAWWI,I Feel Fine,2015-06-15 15:46:46,1,2015-05-01,Oregon
5,RFGQEHFCRI,Hello Goodbye,2015-06-19 14:54:57,1,2015-05-01,Oregon
6,MOZQZUAILW,Here Comes The Sun,2015-06-21 21:53:48,1,2015-05-01,Oregon
7,FBKNENUGZG,Can't Buy Me Love,2015-06-22 08:05:01,1,2015-05-01,Oregon
8,EUGLZCXXPH,Birthday,2015-06-25 12:32:22,1,2015-05-01,Oregon
9,VICPUPDPCV,Here Comes The Sun,2015-06-25 20:28:47,1,2015-05-01,Oregon
10,RERILPAXFR,IN MY LIFE,2015-06-01 20:57:54,2,2015-05-01,North Carolina
11,LQDJOQZNBX,P.s. I Love You,2015-06-02 11:50:23,2,2015-05-01,North Carolina
12,MQBIKLKUSL,Back In the U.S.S.R.,2015-06-06 15:44:39,2,2015-05-01,North Carolina
13,ALMFPLITGW,Yesterday,2015-06-06 21:08:49,2,2015-05-01,North Carolina
14,PYXWLSMGVQ,She Loves You,2015-06-07 16:34:40,2,2015-05-01,North Carolina
15,YQBFAVJGBQ,Revolution,2015-06-08 12:04:13,2,2015-05-01,North Carolina
16,SMIZPUVLNM,While My Guitar Gently Weeps,2015-06-08 21:26:14,2,2015-05-01,North Carolina
17,RFQCYXDHAY,Don't Let Me Down,2015-06-11 13:09:18,2,2015-05-01,North Carolina
18,TQEPWQUUAS,Ticket to Ride,2015-06-11 19:02:36,2,2015-05-01,North Carolina
19,ATMZNDEIQF,Get Back,2015-06-15 08:10:24,2,2015-05-01,North Carolina
20,RTKKKBKKKA,Revolution,2015-06-15 22:32:15,2,2015-05-01,North Carolina
21,XTSGHOVXVR,Hey Jude,2015-06-19 15:10:03,2,2015-05-01,North Carolina
22,THXIUMICEM,Get Back,2015-06-20 17:11:27,2,2015-05-01,North Carolina
23,RERZYLLIXV,Revolution,2015-06-20 20:36:28,2,2015-05-01,North Carolina
24,NAFDHGEYBI,Sun King,2015-06-22 09:02:32,2,2015-05-01,North Carolina
25,ADVYVGRCRC,You Never Give Me Your Money,2015-06-22 11:42:50,2,2015-05-01,North Carolina
26,EDAFEZXOXH,Lucy In The Sky With Diamonds,2015-06-22 15:33:04,2,2015-05-01,North Carolina
27,UIEOSFCPWF,Revolution,2015-06-25 18:11:12,2,2015-05-01,North Carolina
28,TGATMXQGDZ,A Day In The Life,2015-06-01 19:18:04,3,2015-05-01,Ohio
29,NJSUBWRMQQ,Get Back,2015-06-01 20:31:49,3,2015-05-01,Ohio
...,...,...,...,...,...,...
3970,NZYLKDSNES,Got To Get You Into My Life,2015-06-20 17:36:09,199,2015-05-20,Pennsylvania
3971,YYOOMQGNDK,Birthday,2015-06-22 11:58:27,199,2015-05-20,Pennsylvania
3972,TYWJOEDYOI,A Day In The Life,2015-06-25 15:37:04,199,2015-05-20,Pennsylvania
3973,HRGURWRMZV,Get Back,2015-06-02 20:03:03,200,2015-05-20,North Carolina
3974,EGTSKUIUET,Golden Slumbers,2015-06-03 19:51:02,200,2015-05-20,North Carolina
3975,PVUVRYKEWW,Fixing A Hole,2015-06-04 08:58:44,200,2015-05-20,North Carolina
3976,FLXQNPJXZF,Let It Be,2015-06-04 20:26:33,200,2015-05-20,North Carolina
3977,YSLPYLQWEO,Eleanor Rigby,2015-06-05 02:42:46,200,2015-05-20,North Carolina
3978,ABKRERCLVJ,Hello Goodbye,2015-06-05 20:27:06,200,2015-05-20,North Carolina
3979,KLQTQSHDBR,Wild Honey Pie,2015-06-06 10:32:53,200,2015-05-20,North Carolina
3980,UNWHXYKOVH,BAD BOY,2015-06-06 19:53:16,200,2015-05-20,North Carolina
3981,IPQXYWMBME,Hello Goodbye,2015-06-07 11:24:02,200,2015-05-20,North Carolina
3982,MBEWBTOLTX,Hey Jude,2015-06-07 19:19:50,200,2015-05-20,North Carolina
3983,QIXDTWXURR,Hey Jude,2015-06-08 07:29:41,200,2015-05-20,North Carolina
3984,GMEUZTXHEB,With a Little Help From My Friends,2015-06-09 15:40:06,200,2015-05-20,North Carolina
3985,ZNDPFOHELG,Golden Slumbers,2015-06-10 20:23:54,200,2015-05-20,North Carolina
3986,CCNXDRXDMI,"Ob-la-di, Ob-la-da",2015-06-11 16:56:53,200,2015-05-20,North Carolina
3987,ZGSXWHUAQF,Let It Be,2015-06-11 22:49:46,200,2015-05-20,North Carolina
3988,QOPMEMLWJQ,Drive My Car,2015-06-13 11:02:42,200,2015-05-20,North Carolina
3989,LRHYMRESBD,Come Together,2015-06-14 13:13:06,200,2015-05-20,North Carolina
3990,VEWTTSDKDF,Come Together,2015-06-15 10:54:33,200,2015-05-20,North Carolina
3991,QYMDYLFQIH,The Ballad Of John And Yoko,2015-06-15 13:29:17,200,2015-05-20,North Carolina
3992,YALDHLZIKW,IN MY LIFE,2015-06-18 17:01:50,200,2015-05-20,North Carolina
3993,EIAHXZKSGV,Helter Skelter,2015-06-19 10:56:41,200,2015-05-20,North Carolina
3994,XZEXKXCJPR,Yesterday,2015-06-22 05:49:58,200,2015-05-20,North Carolina
3995,UGFZGSOODG,With a Little Help From My Friends,2015-06-22 07:15:54,200,2015-05-20,North Carolina
3996,CTWPWDRDHN,Birthday,2015-06-23 22:26:23,200,2015-05-20,North Carolina
3997,UJLGKNFHBD,Get Back,2015-06-24 10:01:23,200,2015-05-20,North Carolina
3998,DGVMSPDZQT,Come Together,2015-06-26 15:14:22,200,2015-05-20,North Carolina
3999,DTJEXSFSCI,And Your Bird Can Sing,2015-06-26 22:36:03,200,2015-05-20,North Carolina

In [23]:
songs = list(df_songs.song_played.unique())
len(songs)

97

In [24]:
from collections import Counter


def recommandation(song):

    follow = []
    for i in range(df_songs.shape[0]-1):
        if df_songs.iloc[i,1] == song and df_songs.iloc[i,3] == df_songs.iloc[i+1,3]:
            follow.append(df_songs.iloc[i+1,1])

    counts = Counter(follow)
    recommand = []

    max = -1

    for i in counts:
        #print(i,counts[i])
        if counts[i]> max:
            max = counts[i]
            recommand = [i]
        elif counts[i]==max:
            recommand.append(i)

    return recommand

In [25]:
i = np.random.randint(1,len(songs)+1)
print("The song is: ", songs[i])
print("Recommendation(s):", recommandation(songs[i]))

The song is:  Eight Days A Week
Recommendation(s): ['Come Together']

double check:

In [26]:
song = 'ANYTIME AT ALL'

df_songs[df_songs.song_played == song]

,id,song_played,time_played,user_id,user_sign_up_date,user_state
305,JBNWMWPHMV,ANYTIME AT ALL,2015-06-26 17:59:55,17,2015-05-02,Texas
698,DFJWEKYDGI,ANYTIME AT ALL,2015-06-25 16:35:33,35,2015-05-04,New Jersey
1522,THEFEJNPWZ,ANYTIME AT ALL,2015-06-05 11:58:43,76,2015-05-08,New York
1829,HMAAAJEPGH,ANYTIME AT ALL,2015-06-15 12:44:37,95,2015-05-11,Missouri
2957,JDKEKVRZUM,ANYTIME AT ALL,2015-06-03 12:42:06,152,2015-05-18,Texas
3059,VMTLHGGYSD,ANYTIME AT ALL,2015-06-26 19:22:26,158,2015-05-19,North Carolina
3161,GNQWNSYDOX,ANYTIME AT ALL,2015-06-21 18:00:36,163,2015-05-19,New York

In [27]:
df_songs.iloc[[306,699,1523,1830,2958,3060,3162]]

,id,song_played,time_played,user_id,user_sign_up_date,user_state
306,KNXKOTOAOV,Come Together,2015-06-01 14:46:13,18,2015-05-02,Maryland
699,SBSGSORLYB,IN MY LIFE,2015-06-27 21:11:42,35,2015-05-04,New Jersey
1523,ADNRXVARTA,Helter Skelter,2015-06-06 16:52:27,76,2015-05-08,New York
1830,EQTQLRSOBK,Can't Buy Me Love,2015-06-17 12:28:51,95,2015-05-11,Missouri
2958,GZCVTPEYKN,NOWHERE MAN,2015-06-05 12:25:52,152,2015-05-18,Texas
3060,TTPUVUNTUA,Here Comes The Sun,2015-06-27 17:04:16,158,2015-05-19,North Carolina
3162,POQHFGKCOO,Let It Be,2015-06-21 23:30:44,163,2015-05-19,New York

## Question 5

How would you set up a test to check whether your model works well?

We need to perform a A/B test (reference), to randomly split users into two groups, one Control group and one Experiment group. Control group has no recommendation strategy, and Experiment group recommend the next song. After running some time, perform a one-tailed t-test on 'average #play per hour'

$H_0$: population 'average #play per hour' is same in two groups

$H_a$: experiment group's population 'average #play per hour' is higher than control group's